body {
	background: rgb(224, 226, 219);
	color: rgb(32, 30, 31);
	font-family: Helvetica, serif;
	font-size: 17px;

}

h1 {
	color: #000000;
	font-size: 45px;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 1px;
}

h2 {
	font-size: 35px;
	font-weight: bolder;
	font-family: 'Comforter Brush', cursive;
	color: rgb(118, 120, 237);
}

a {
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s ease;
	color: navy;
}

a:hover {
	font-size: 20px;
}

#photo {
	border-radius: 50%;
}

.container {
	width: 800px;
	margin: 40px auto;
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0 15px 35px rgba(50, 50, 93, .2);
	border-radius: 5px;
	margin: 20px 0px;
	text-align: center;
}

.btn-blue {
	background-color: navy;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
}

.btn-blue:hover {
	background-color: darkred;
	color: deeppink;
	font-size: 22px
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10 px;
	margin-right: 20px;
}

.list-inline i {
	font-size: 75px;
}

#YouTube:hover {
	color: red;
}

#Linkedin:hover {
	color: rgb(18, 118, 171);
}

#Insta:hover {
	color: rgb(234, 51, 86);
}

#intro p {
	margin-bottom: 40px;
}

@media (max-width: 830px){
	.container{width: 675px;}
}

@media (max-width: 700px){
	.container{width: 575px;}
}

@media (max-width: 600px){
	.container{width: 475px;}
}

@media (max-width: 500px){
	.container{width: 400px;}
}